<form class="d-flex" style="margin-bottom: 15px;">
   <input class="form-control me-2" type="search" placeholder="Search Twitter" aria-label="Search" style="border-radius: 30px;">
</form>
<div class="main-page">
    <p><b>What's happening</b></p>
    <div class="content">
        <p>trending in India<br>
        <i>Topic</i><br>
        10k Tweets</p>
    </div>
    <div class="content">
        <p>trending in India<br>
        <i>Topic</i><br>
        10k Tweets</p>
    </div>
    <div class="content">
        <p>trending in India<br>
        <i>Topic</i><br>
        10k Tweets</p>
    </div>
</div>
<div>
</div>


<div class="main-page">
    <p><b>Who to follow</b></p>
    <div class="row content">
        <div class="col col-lg-2"><%= image_tag "user.svg", size: "30x30" %></div>
        <div class="col col-lg-6">User name</div>
        <div class="col col-lg-4 "><%= button_to "follow", root_path, class: "btn btn-primary btn-sm rounded-pill" %></div>
    </div>
    <div class="row content">
        <div class="col col-lg-2"><%= image_tag "user.svg", size: "30x30" %></div>
        <div class="col col-lg-6">User name</div>
        <div class="col col-lg-4 "><%= button_to "follow", root_path, class: "btn btn-primary btn-sm rounded-pill" %></div>
    </div>
    <div class="row content">
        <div class="col col-lg-2"><%= image_tag "user.svg", size: "30x30" %></div>
        <div class="col col-lg-6">User name</div>
        <div class="col col-lg-4 "><%= button_to "follow", root_path, class: "btn btn-primary btn-sm rounded-pill" %></div>
    </div>   
</div>


